@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --blue: #1c233d;
  --green: #6f715b;
  --pink: #e8c9c6;
}

*{
  font-family: 'Merriweather', serif;
  font-size:16px;
  font-weight: 400;
}

body{
  color:var(--blue);
}

/*prevents img download option on right click*/
img{
  pointer-events: none;
  -webkit-touch-callout: none;
}

nav{
  background-color: white;
  padding:25px;
  text-align: center;
  filter: drop-shadow(0px 2px 3px rgb(206, 206, 206));
}

h1{
  margin:0;
}

a{
  text-decoration: none;
}

p{
  line-height: 30px;
  padding-top:20px;
}

button{
  border:none;
  padding:10px 20px;
  border-radius: 5px;
  display: block;
  margin:15px auto;
  font-weight: bold;
  filter: drop-shadow(1px 1px 3px rgb(206, 206, 206));
}

button:hover{
  cursor: pointer;
}

.text{
  margin:40px;
}

.text h1{
  font-size: 40px;
}

.navButton{
  font-family: 'Josefin Sans', sans-serif;
  display:inline;
  padding:20px;
  margin:0;
  font-weight:400;
  font-size:12px;
  color:var(--blue);
}

.navButton:hover{
  cursor: pointer;
  color:var(--pink);
}


.dialogue{
  font-weight:bold;
}

#registry-content{
  text-align: center;
  margin: 0 auto;
  max-width: 520px;
}

#registry-img{
  max-width: 100%;
  position:relative; /*fixes nav drop shadow on top of hero*/
}

#registry-buttons{
  margin-top:40px;
}

#hero {
  background:linear-gradient(180deg, rgba(0,0,0,0.45420174905899857) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0) 45%, rgba(0,0,0,0.4962185557816877) 100%),url('../images/hero.jpg');
  background-size: cover;
  color: white;
  padding: 30px;
  background-position: center;
  text-align: center;
  position:relative; /*fixes nav drop shadow on top of hero*/
}

#hero-text-img{
  margin:30vh 0 0 0;
  max-width:100%;
}

.ReactGridGallery_tile:hover{
  cursor: pointer;
}

#amazon{
  background-color: #febd69;
  color:black;
}

#amazon:hover{
  background-color: #f3a847;
}

#venmo{
  background-color: #008cff;
  color:white;
}

#venmo:hover{
  background-color: #0074de;
}


#footer{
  margin-top:100px;
  padding:10px;
  text-align: center;
}

#footer hr{
  color:#ffffff;
}

#footer p{
  color:#acacac;
  font-size: 12px;
  padding:20px;
  margin:0;
}

.text-image img{
  max-width: 100%;
}

.activeTab{
  color:var(--pink);
}

@media only screen and (min-width: 40em) {
  #hero-text-img{
    max-width:600px;
    margin:38vh 0 7vh 0;
  }

  .text{
    max-width:700px;
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }

  #registry-img{
    max-width: 520px;
    margin:10px 0 40px 0;
  }

  .eucalyptus-bg{
    padding:40px;
  }
}


@media only screen and (min-width: 70em) {
  .eucalyptus-bg{
    background-image:url('../images/eucalyptus-long.png');
    background-size: cover;
    background-position: top center;
  }
}